<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.party.ijurong.mapper.CarMapper">
    <resultMap id="BaseResultMap" type="com.party.ijurong.pojo.Car">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="displacement" jdbcType="VARCHAR" property="displacement"/>
        <result column="capacity" jdbcType="VARCHAR" property="capacity"/>
        <result column="driver" jdbcType="VARCHAR" property="driver"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="car_num" jdbcType="VARCHAR" property="carNum"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="party_branch_id" jdbcType="INTEGER" property="partyBranchId"/>
        <result column="isUsing" jdbcType="BOOLEAN" property="isUsing"/>
    </resultMap>

    <select id="queryIsUsingByCar" parameterType="Car" resultMap="BaseResultMap">
        SELECT car.*,((SELECT count(*) FROM car_order WHERE car_id = car.id AND is_agree = 1 AND now() BETWEEN start_time AND end_time) &gt; 0) as isUsing
        FROM car
        WHERE 1 = 1
        <if test="name != null and name != ''">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="carNum != null and carNum != ''">
            and car_num like concat('%', #{carNum}, '%')
        </if>
        <if test="partyBranchId != null">
            and party_branch_id = #{partyBranchId}
        </if>
        ORDER BY id DESC
    </select>
</mapper>