<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.party.ijurong.mapper.CarOrderMapper">
    <resultMap id="CarOrderDtoMap" type="CarOrderDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="car_id" property="carId" jdbcType="INTEGER"/>
        <result column="staff_id" property="staffId" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="reply" property="reply" jdbcType="VARCHAR"/>
        <result column="is_agree" property="isAgree" jdbcType="TINYINT"/>
        <result column="purpose" jdbcType="VARCHAR" property="purpose" />
        <result column="people" jdbcType="VARCHAR" property="people" />
        <result column="articles" jdbcType="VARCHAR" property="articles" />
        <result column="car_num" property="carNum" jdbcType="VARCHAR"/>
        <result column="staff_name" property="staffName" jdbcType="VARCHAR"/>
        <result column="party_branch_id" property="partyBranchId" jdbcType="INTEGER"/>
        <result column="phone_number" property="phoneNumber" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByCarOrderDto"  parameterType="CarOrderDto" resultMap="CarOrderDtoMap">
        SELECT car_order.*, staff_name,  car_num, car.party_branch_id, phone_number, car.name FROM car_order, car, staff
        <where>
            car_order.car_id = car.id and car_order.staff_id = staff.staff_id
            <if test="staffName != null and staffName != ''">
                and staff_name like concat('%', #{staffName}, '%')
            </if>
            <if test="carNum != null and carNum !=''">
                and car_num like concat('%', #{carNum}, '%')
            </if>
            <if test="staffId != null">
                and car_order.staff_id = #{staffId}
            </if>
            <if test="partyBranchId != null">
                and car.party_branch_id = #{partyBranchId}
            </if>
            <if test="carId != null">
                and car_id = #{carId}
            </if>
            <if test="startTime != null">
                and (start_time &gt;= #{startTime} or end_time &gt;= #{startTime})
            </if>
            <if test="endTime != null">
                and (start_time &lt;= #{endTime} or end_time &lt;= #{endTime})
            </if>
            <if test="typeFilter == 1">
                and is_agree is null
            </if>
            <if test="typeFilter == 2">
                and is_agree is not null
            </if>
            <if test="typeFilter == 3">
                and is_agree = 1
            </if>
            <if test="typeFilter == 4">
                and is_agree = 0
            </if>
            <if test="typeFilter == 5">
                and (is_agree is null or is_agree = 1)
            </if>
        </where>
        <if test="orderType == null || orderType == 0">
            ORDER BY car_order.id DESC
        </if>
        <if test="orderType == 1">
            ORDER BY car_order.start_time ASC
        </if>
    </select>

    <select id="queryOrdeCarCount"  parameterType="CarOrder" resultType="int">
        SELECT COUNT(1) FROM car_order WHERE  car_id = #{carId} and is_agree = 1
        and (start_time between #{startTime} and #{endTime}  or end_time between #{startTime} and #{endTime})
    </select>
</mapper>