<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.party.ijurong.mapper.ExcellentMemberMapper">
    <resultMap id="ExcellentMemberMap" type="ExcellentMemberDto" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="selection_date" property="selectionDate" jdbcType="DATE" />
        <result column="meritorious_deeds" property="meritoriousDeeds" jdbcType="VARCHAR" />
        <result column="staff_name" property="staffName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryExcellentMemberDtoList"  parameterType="ExcellentMemberDto" resultMap="ExcellentMemberMap">
        SELECT member.*, staff_name, sex, phone_number FROM excellent_member member, staff
        <where>
            member.user_id = staff.staff_id
            <if test="staffName != null and staffName != ''">
                and staff_name like concat('%', #{staffName}, '%')
            </if>
        </where>
    </select>

</mapper>
