<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.party.ijurong.mapper.HardMemberApplyMapper">
    <resultMap id="HardMemberApplyDtoMap" type="HardMemberApplyDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="staff_id" jdbcType="INTEGER" property="staffId" />
        <result column="is_hard_member" jdbcType="TINYINT" property="isHardMember" />
        <result column="is_old_member" jdbcType="TINYINT" property="isOldMember" />
        <result column="is_enjoy_MLA" jdbcType="TINYINT" property="isEnjoyMla" />
        <result column="is_enjoy_subsidy" jdbcType="TINYINT" property="isEnjoySubsidy" />
        <result column="hard_type" jdbcType="VARCHAR" property="hardType" />
        <result column="hard_desc" jdbcType="VARCHAR" property="hardDesc" />
        <result column="health_status" jdbcType="VARCHAR" property="healthStatus" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="join_date" jdbcType="DATE" property="joinDate" />
        <result column="work_situation" jdbcType="VARCHAR" property="workSituation" />
        <result column="life_situation" jdbcType="VARCHAR" property="lifeSituation" />
        <result column="other_desc" jdbcType="VARCHAR" property="otherDesc" />
        <result column="police_station" jdbcType="VARCHAR" property="policeStation" />
        <result column="is_agree" jdbcType="TINYINT" property="isAgree" />
        <result column="reply" jdbcType="VARCHAR" property="reply" />
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
        <result column="staff_name" property="staffName" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryApplyDtoList"  parameterType="HardMemberApplyDto" resultMap="HardMemberApplyDtoMap">
        SELECT apply.*, staff_name,  sex, phone_number FROM hard_member_apply apply, staff
        <where>
            apply.staff_id = staff.staff_id
            <if test="staffName != null and staffName != ''">
                and staff_name like concat('%', #{staffName}, '%')
            </if>
            <if test="typeFilter == 1">
                and is_agree is null
            </if>
            <if test="typeFilter == 2">
                and is_agree is not null
            </if>
        </where>
        ORDER BY apply.id DESC
    </select>
</mapper>