<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.party.ijurong.mapper.MeetingRoomOrderMapper">
    <resultMap id="RoomOrderDtoMap" type="MeetingRoomOrderDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="staff_id" property="staffId" jdbcType="INTEGER"/>
        <result column="room_id" property="roomId" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="reply" property="reply" jdbcType="VARCHAR"/>
        <result column="is_agree" property="isAgree" jdbcType="TINYINT"/>
        <result column="staff_name" property="staffName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="party_branch_id" property="partyBranchId" jdbcType="INTEGER"/>
        <result column="phone_number" property="phoneNumber" jdbcType="INTEGER"/>
    </resultMap>
    <select id="queryByRoomOrderDto"  parameterType="MeetingRoomOrderDto" resultMap="RoomOrderDtoMap">
        SELECT meeting_room_order.*, staff_name,  name, meeting_room.party_branch_id, phone_number FROM meeting_room_order, meeting_room, staff
        <where>
            meeting_room_order.room_id = meeting_room.id and meeting_room_order.staff_id = staff.staff_id
            <if test="staffName != null and staffName != ''">
                and staff_name like concat('%', #{staffName}, '%')
            </if>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="partyBranchId != null">
                and meeting_room.party_branch_id = #{partyBranchId}
            </if>
            <if test="startTime != null">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and end_time &lt;= #{endTime}
            </if>
            <if test="typeFilter == 1">
                and is_agree is null
            </if>
            <if test="typeFilter == 2">
                and is_agree is not null
            </if>
            <if test="typeFilter == 3">
                and is_agree = 1
            </if>
            <if test="typeFilter == 4">
                and is_agree = 0
            </if>
        </where>
        ORDER BY meeting_room_order.id DESC
    </select>

    <select id="queryOrdeRoomCount"  parameterType="MeetingRoomOrder" resultType="int">
        SELECT COUNT(1) FROM meeting_room_order WHERE  room_id = #{roomId} and is_agree = 1
        and (start_time between #{startTime} and #{endTime}  or end_time between #{startTime} and #{endTime})
    </select>
</mapper>