<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.party.ijurong.mapper.StaffRoleMapper">
    <resultMap id="BaseResultMap" type="StaffRoleDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="staff_id" jdbcType="INTEGER" property="staffId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="accredit_time" jdbcType="TIMESTAMP" property="accreditTime"/>
        <result column="accredit_staff_id" jdbcType="INTEGER" property="accreditStaffId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="staff_name" jdbcType="VARCHAR" property="staffName"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
    </resultMap>
    <select id="queryByDto"  parameterType="StaffRoleDto" resultMap="BaseResultMap">
        SELECT staff_role.*, staff_name, role_name, role_code FROM staff, staff_role, role
        <where>
            staff.staff_id = staff_role.staff_id AND staff_role.role_id = role.id
            <if test="staffName != null and staffName != ''">
                and staff_name like concat('%', #{staffName}, '%')
            </if>
            <if test="staffId != null">
                and staff_role.staff_id = #{staffId}
            </if>
        </where>
        ORDER BY staff_role.id DESC
    </select>
</mapper>