<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <description>apache shiro 配置</description>

    <!-- 配置工厂bean,用于创建shiro用到的过滤器-->
    <bean id="shiroSecurityFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- shiro的核心安全接口 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 没有登陆跳转的页面 -->
        <property name="loginUrl" value="/loginUrl"/>
        <!-- 登陆成功跳转的页面 -->
        <property name="successUrl" value="/successUrl"/>
        <!-- 没有权限要跳转的链接 -->
        <property name="unauthorizedUrl" value="/unauthorized"/>
        <!-- URL拦截规则-->
        <property name="filterChainDefinitions">
            <value>
                /page.action = perms[staff]
                /auth/** = perms[staff]
            </value>
        </property>
    </bean>

    <bean id="ieduRealm" class="com.party.ijurong.shiro.IEduRealm"/>
    <!-- 使用默认的WebSecurityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="ieduRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- redisSessionDAO -->
    <bean id="redisSessionDAO" class="com.party.ijurong.shiro.RedisSessionDAO">
        <property name="expire" value="${shiro.expire}" />
    </bean>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="redisSessionDAO"/>
    </bean>
</beans>